{% include 'header.html' %}
<!DOCTYPE html>

<div style="text-align: center;">
<h1>About</h1>
</div>
<div class="about">
    <p> dineXchange is a web-based application that creates a marketplace for
    freshmen to sell excess dineX to upperclassmen at Carnegie Mellon
    University. Because dineX are less versatile than actual dollars,
    they are worth less. Therefore, freshmen can convert dineX that would
    typically go to waste into actual dollars, and upperclassmen can buy meals
    on campus at a discount.</p>
    <p> Through dineXchange, freshmen can check into a dining location,
    indicating that they are willing and available to sell excess dineX.
    Upperclassmen can check if any freshmen are looking to sell dineX dollars
    at their dining location, and if there is, dineXchange will facilitate a real-time bargaining
    process to determine the details of the transaction. After the price has determined,
    the two parties can meet up to complete the deal.</p>
</div>
<div class="abouttldr">

    tl;dr Freshmen sell dineX to upperclassmen.
    <br>
    Everyone profits.
    <br>
    <br>

</div>
<div class="aboutTag">
Created by Robert Maratos, Jake Weiss, Kevin Reichek, and Jeremy Sonpar for TartanHacks 2014. Special thanks to jo.

<br> <br>
Maintained on <a href="https://github.com/Stever4/dineXchange">GitHub</url>.
</div>
{% include 'noaboutfooter.html' %}

