{% include 'header.html' %}


<body>
    <div id = "details">You are now in a unique chatroom with your buyer/seller. This
    chatroom can be used to determine a meeting location and any final details.</div>
    <input type='text' id='message' placeholder='Message...'>
    <div id="chat">
    </div>
<style type = 'text/css'>

#chat{
    height: 400px;
    overflow: auto;
    margin-top: 5px;
    color: white;

}

#details{
    color: white;
}
    </style>

</body>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type = 'text/javascript'>

//Bulk of code taken from will crichton github

$(function() {
    var room = window.location;
    console.log("Foo");
    room = room.search;
    room = room.substring(6);
    var db = new Firebase('https://dxc.firebaseio.com/chat/'+room);
    db.on('child_added', function(snapshot) {
        var val = snapshot.val();
        function htmlEntities(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
                    }
        message = htmlEntities(val).substring(0,140);
        var $message = $('<div class="message"><b>' + val.name + '</b>: ' + val.message + '</div>');
        $('#chat').append($message);
        chat.scrollTop = chat.scrollHeight;
        console.log('#chat');
    });

    $('input#message').keypress(function(event) {
        if (event.which == 13 && $(this).val() != '') {
            db.push({
                name: '{{user}}',
                message: $(this).val()
            });
            $(this).val('');
        }
    });
});

</script>

{% include 'footer.html' %}
