{% include 'header.html' %}
<div style="text-align: center;">
	<h1 id="location"></h1>
	<p>
	<a class="btn btn-xlg btn-primary" onclick='return checkIn()'>Check In</a>
	<script type='text/javascript'>

	function checkOut()
	{
	var el = document.getElementById('dropdown');
    var location = el.options[el.selectedIndex].innerHTML;
	var myRootRef = new Firebase('https://dxc.firebaseio.com/sell/' + location);
	myRootRef.child('location').set(null);
	myRootRef.child('time').set(null);
	document.getElementById("location").innerHTML = "";
	}

</script>
    </p>
    <p>
	<select class="form-control" id="dropdown">
	</select>
	</p>
	<p>
<a class="btn btn-xlg btn-primary" onclick='return checkOut()'>Check Out</a>
	</p>
<div class="btn-group btn-group-lg">
  <a type="button" class="btn btn-default" href="#">@ Skibo</a>
  <a type="button" class="btn btn-default" href="/sell/checkin">Orders</a>
</div>
</div>
<script type='text/javascript'>
	window.onload = loadShit();
	function loadShit()
	{
		var x = document.getElementById("dropdown");
		var sellRef = new Firebase('https://dxc.firebaseio.com/sell');
		sellRef.once('value', function(locationsSnapshot) 
		{
			locationsSnapshot.forEach(function(locationSnapshot) 
			{
				var location = locationSnapshot.child('location').val();
				var option = document.createElement("option");
 				option.text = location;
				x.add(option)
			});
		});
	}
	</script>
{% include 'footer.html' %}