{% include 'header.html' %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <div class="row" style="text-align:centered">
    <h1 id="location"></h1>

    <script type='text/javascript'>
    function findMatch(place,food)
    {
        var sellRef = new Firebase('https://dxc.firebaseio.com/sell');
        sellRef.once('value', function(locationsSnapshot)
        {
            locationsSnapshot.forEach(function(locationSnapshot)
            {
                var name = locationSnapshot.name();
                var location = locationSnapshot.child('location').val();
                if (location == place){
                    var room = "";
                    var chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

                    for(var i=0; i < 20; i++){
                    room += chars.charAt(Math.floor(Math.random() * chars.length));}

                    var sellRef = new Firebase('https://dxc.firebaseio.com/bargains/' + room);
                    sellRef.child('buyer').set('{{user}}');
                    sellRef.child('seller').set(name);
                    sellRef.child('location').set(location);
                    sellRef.child('food').set(food);
                    var sellRef = new Firebase('https://dxc.firebaseio.com/sell/'+name);
                    sellRef.child('room').set(room);
                    window.location = "/bargain?room="+room
                }
            });
        });
    }
</script>
<div class = "instructions">Please select an available dining location from the drop down menu. If no dining location is present in the drop down,
    then no sellers are currently checked in, and you should try again later. After selecting a dining location, please enter what you would like to eat.</div>
<div id = "food" class="row">
    <select class="form-control" id="dropdown">
    </select>
</div>

<div id = "food" class="input-group">
    <span class="input-group-addon">I Want:</span>
      <input type="textarea" id="textbox" class="form-control">
      <span class="input-group-btn">
        <a onclick='return findMatch(document.getElementById("dropdown").value,document.getElementById("textbox").value)' class="btn btn-default" type="button">Start!</a>
      </span>
    </div>

<script type='text/javascript'>
    window.onload = loadShit();
    function loadShit()
    {
        var x = document.getElementById("dropdown");
        var sellRef = new Firebase('https://dxc.firebaseio.com/sell');
        sellRef.on('value', function(locationsSnapshot)
        {   
            $("#dropdown").empty();

            locationsSnapshot.forEach(function(locationSnapshot)
            {
                var location = locationSnapshot.child('location').val();
                var option = document.createElement("option");
                option.text = location;

                if ($("select[id$='dropdown'] option:contains('" + option.text + "')").length > 0) {
                pass
            }   else{
                x.add(option)
            }

            });
        });
    }
</script>
{% include 'footer.html' %}
