<!DOCTYPE html>
<html>
  <head>
    <title>dineXchange</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-extra.css" />
    <script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.2/firebase.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div style="text-align: center;">
    <a href = "/"><img src="static/logo.png" alt="logo"></a>
</div>
  </head>
  <body>




