{% include 'header.html' %}
<div class = "instructions">Please select whether you would like to buy food or sell excess dining dollars:</div>
<div class="row">
    <div class="myCenter">
    <a class="btn btn-xlg btn-primary" href="/buy">Buy</a>
    </div>
</div>

<div class="row">
    <div class="myCenter">
    <a class="btn btn-xlg btn-primary" href="/sell">Sell</a>
</div>

<div class="row">
    <div class="myCenter">
    <a class="btn btn-xlg btn-primary" href="/map">Map</a>
</div>
</div>
{% include 'footer.html' %}

