{% include 'header.html' %}

 <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3TaUVx7h2_t_bD7HhLTzXGcJDTvGPknA&sensor=SET_TO_TRUE_OR_FALSE">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map-canvas"/>
{% include 'footer.html' %}
