{% include 'header.html' %}
<div style="text-align: center;">
	<h1 class="text-hidden" id="location">Not Checked In</h1>
	<p>
	<a class="btn btn-xlg btn-primary" onclick='return checkIn()'>Check In</a>
	<script type='text/javascript'>

	function checkIn()
	{
	var el = document.getElementById('dropdown');
    var location = el.options[el.selectedIndex].innerHTML;
    var myRootRef = new Firebase('https://dxc.firebaseio.com/sell/' + '{{user}}');
	myRootRef.child('location').set(location);
	myRootRef.child('time').set(new Date().getTime());
	document.getElementById("location").innerHTML = "Currently @ " + location;
	document.getElementById("location").className = "";
	}

	function checkOut()
	{
	var el = document.getElementById('dropdown');
    var location = el.options[el.selectedIndex].innerHTML;
	var myRootRef = new Firebase('https://dxc.firebaseio.com/sell/' + '{{user}}');
	myRootRef.child('location').set(null);
	myRootRef.child('time').set(null);
	document.getElementById("location").innerHTML = "Not Checked In";
	document.getElementById("location").className = "text-hidden";
	}

</script>
    </p>
    <p>
	<select class="form-control" id="dropdown">
  <option>Skibo</option>
  <option>Resnik</option>
  <option>Asiana</option>
  <option>The Exchange</option>
</select>
	</p>
	<p>
<a class="btn btn-xlg btn-primary" onclick='return checkOut()'>Check Out</a>
	</p>
</div>
{% include 'footer.html' %}