{% include 'header.html' %}
<div style="text-align: center;">
	<h1>CURRENTLY @ SKIBO</h1>
	<p>
	<a class="btn btn-xlg btn-primary" onclick='return check()'>Check In</a>
	<script type='text/javascript'>

	function check()
	{
	 var el = document.getElementById('dropdown');
    var location = el.options[el.selectedIndex].innerHTML;
    var myRootRef = new Firebase('https://dxc.firebaseio.com/sell');
	myRootRef.child('newAndrew').set(location);
	}

</script>
    </p>
    <p>
	<select class="form-control" id="dropdown">
  <option>Skibo</option>
  <option>Resnik</option>
  <option>Asiana</option>
  <option>The Exchange</option>
</select>
	</p>
	<p>
<a class="btn btn-xlg btn-primary" href="/sell">Check Out</a>
	</p>
<div class="btn-group btn-group-lg">
  <a type="button" class="btn btn-default" href="#">@ Skibo</a>
  <a type="button" class="btn btn-default" href="/sell/checkin">Orders</a>
</div>
</div>
{% include 'footer.html' %}