{% include 'header.html' %}

<div class="instructions">Please select the dining location you are currently at. By clicking Check In, you will
    make yourself available to buyers at that dining location. If you are successfully matched with a buyer,
    you will automatically enter a transaction window with that person. If you are Checked In, by clicking
    Check Out, you will be removed from the currently available sellers.</div>

<div style="text-align: center;" class="row">
	<h1 id="location"></h1>

<div id = "food" class="row">
<a class="btn btn-xlg btn-primary" onclick='return checkIn()'>Check In</a>
</div>

<script type='text/javascript'>
	window.onload = waitForMatch();
	function checkIn()
	{
	var el = document.getElementById('dropdown');
    var location = el.options[el.selectedIndex].innerHTML;
    var sellRef = new Firebase('https://dxc.firebaseio.com/sell/' + '{{user}}');
	sellRef.child('location').set(location);
	sellRef.child('time').set(new Date().getTime());
	document.getElementById("location").innerHTML = "Currently @ " + location;
	}

	function checkOut()
	{
	var el = document.getElementById('dropdown');
    var location = el.options[el.selectedIndex].innerHTML;
	var sellRef = new Firebase('https://dxc.firebaseio.com/sell/' + '{{user}}');
	sellRef.child('location').set(null);
	sellRef.child('time').set(null);
	sellRef.child('room').set(null);
	document.getElementById("location").innerHTML = "";
	}
	function waitForMatch()
	{
		var otherSellRef = new Firebase('https://dxc.firebaseio.com/sell/'+ '{{user}}/room');
    	otherRootRef.on('value', function(snapshot)
    	{
    		if (snapshot.val() != null){
    			var room = snapshot.val();
    			checkOut();
                window.location = "/bargain?room="+room;
            }
    	})
	}
</script>

<div id = "food" class="row">
<select class="form-control" id="dropdown">
  <option>Resnik</option>
  <option>Entropy</option>
  <option>The Exchange</option>
  <option>The UC</option>
  <option>Skibo</option>
  <option>Asiana</option>
  <option>The Underground</option>
</select>
</div>

<div id = "food" class="row">
<a class="btn btn-xlg btn-primary" onclick='return checkOut()'>Check Out</a>
</div>
</div>
{% include 'footer.html' %}
